
%p#name Home
#assig
  %h2 Assignment 1
  %p
    :markdown
      Build a web site ([here](/)) and form a team. There is a source copy of this ruby-on-rails project is on
      [github](https://github.com/Dynamic-New-Algorithms/IMGD2900B12) for the purposes of collaboration and version
      controls as well as grading. ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a01.html))

#assig
  %h2 Assignment 2
  %p
    :markdown
      Begin a creative Journal. For us these are hard copy. ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a02.html))
#assig
  %h2 Assignment 3
  %p
    :markdown
      Build a Toy using the [Perlensiel](http://www.perlenspiel.org/) game engine. Seeing as Prof. Moriarty feels that it
       takes at least ten games to become good at designing them, a similar logic should hold true for toys as such here
       are several. The fallowing 'toys' each had a specific purpose for learning the Perlensiel engine.
      ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a03.html))
  %p
    :markdown
      1. [Rorschach](/rorschach) Learning the basics of the Bead color and clock. (bdecker)<br />
      2. [Flowers](/flowers) Learning how the bead data works. (bdecker)<br/>
      3. [Rubik's Cube](/rubik) Learning the mouse events. (bdecker)<br />
      4. [Composer](/composer) Learning the Audio system. (bdecker)<br />
      5. [Letter Pop](/letterpop) Learning the keyboard events and talking to a data base. (this is more of a game) (bdecker) <br />
      6. [Fountain of Life](/fol) Simulations are fun.  (bdecker)<br />
      7. [Peter's Piano](/peterstoy) Lets play some music. (prlepper)
#assig
  %h2 Assignment 4
  %p
    :markdown
      Play is spontaneous action. A Toy is something that elicits play. A game is a toy with a goal. A puzzle is a game
      with a solution.  In this assignment we prototype out a puzzle in the Perlensiel engine.  ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a04.html#design))

