
%p#name Home
#assig
  %h2 Definitions
  %p
    :markdown
      Play is spontaneous action. <br/>
      A toy is something that elicits play. <br/>
      A game is a toy with rules and a goal. <br/>
      A puzzle is a game with a solution.
#assig
  %h2 Toys
  %p
    :markdown
      Here are some toys built using the [Perlensiel](http://www.perlenspiel.org/) game engine.
  %p
    :markdown
      1. [Rorschach](/rorschach) Learning the basics of the Bead color and clock. (bdecker)<br />
      2. [Flowers](/flowers) Learning how the bead data works. (bdecker)<br/>
      3. [Rubik's Cube](/rubik) Learning the mouse events. (bdecker)<br />
      4. [Composer](/composer) Learning the Audio system. (bdecker)<br />
      5. [Letter Pop](/letterpop) Learning the keyboard events and talking to a data base. (this is more of a game) (bdecker) <br />
      6. [Fountain of Life](/fol) Simulations are fun.  (bdecker)<br />
      7. [Peter's Piano](/peterstoy) Lets play some music. (prlepper)
#assig
  %h2 Puzzles
  %img= link_to image_tag("TheLabyrinthTitle.jpg", :width => 600, :height => 386), '/labyrinth/2'
  %p
    :markdown
      [The Labyrinth (prototype 1)](/labyrinth/1) <br/>
      [The Labyrinth (prototype 2)](/labyrinth/2)
#assig
  %h2 Games
  %img= link_to image_tag("WordWarsTitle.jpg", :width => 600), '/wordwars/3'
  %p
    :markdown
      [Word Wars (prototype 1)](/wordwars/1) <br/>
      [ASCii Wars (prototype 2)](/wordwars/2) <br/>
      [ASCii Wars (prototype 3)](/wordwars/3) <br/>
  %img= link_to image_tag("StuckInTheVoid.jpg", :width => 600), '/stuckinthevoid/1'
  %p
    :markdown
      [Stuck In The Void (prototype 1)](/stuckinthevoid/1) <br/>
      [Stuck In The Void (prototype 2)](/stuckinthevoid/2) <br/>

#assig
  %h2 Getting to source code.
  %p
    :markdown
      The source code to any game can be reached by placing a ".js" at the end of the url.  Unfortunately because I
      use coffee script to write my games, when it is converted to javascript the comments get taken out. However the
      full source code for this web site can be found on [github](https://github.com/Dynamic-New-Algorithms/IMGD2900B12).
      The game code in coffee script can be found under "app/asstets/javascripts" and views under "app/views".  If you
      need help converting javascript to coffee or visa versa [js2coffee](http://js2coffee.org/) is very usefully.