
%p#name Home
#assig
  %h2 Assignment 1
  %p
    :markdown
      Build a web site ([here](/)) and form a team. ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a01.html))
#assig
  %h2 Assignment 2
  %p
    :markdown
      Begin a creative Journal. For me this is hard copy. ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a02.html))
#assig
  %h2 Assignment 3
  %p
    :markdown
      Build a Toy using the [Perlensiel](http://www.perlenspiel.org/) game engine. Seeing as Prof. Moriarty feels that it
       takes at least ten games to become good at designing them, a similar logic should hold true for toys as such here
       are several. The fallowing 'toys' each had a specific purpose for learning the Perlensiel engine.
      ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a03.html))
  %p
    :markdown
      [Rorschach](/rorschach) Learning the basics of the Bead color and clock. <br />
      [Flowers](/flowers) Learning how the bead data works. <br/>
      [Rubik's Cube](/rubik) Learning the mouse events.<br />
      [Composer](/composer) Learning the Audio system.<br />
      [Letter Pop](/letterpop) Learning the keyboard events and talking to a data base. (this is more of a game)
