%h1 Dynamic New Algorithms
%p William Decker (bdecker)
%p
  :markdown
    Please, **For the love of [God](http://www.god.com/),**
    don't use [Haml](http://haml-lang.com) for marking-up your content!

#assig_1
  %h2 Assignment 1
  %p
    Build a web site (
    %a{:href => '/'}here
    ).
    %a{:href => "http://users.wpi.edu/~bmoriarty/imgd2900/a03.html"} (original)
#assig_2
  %h2 Assignment 2
  %p
    Be
#assig_2
  %h2 Assignment 3
