
%p#name Home
#assig
  %h2 Assignment 1
  %p
    :markdown
      Build a web site ([here](/)) and form a team. ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a01.html))
#assig
  %h2 Assignment 2
  %p
    :markdown
      Begin a creative Journal. For me this is hard copy. ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a02.html))
#assig
  %h2 Assignment 3
  %p
    :markdown
      Build a Toy using the [Perlensiel](http://www.perlenspiel.org/) game engine. Seeing as it take at least ten games
      to become good at designing them a similar logic should hold true for toys as such here are several.
      ([original](http://users.wpi.edu/~bmoriarty/imgd2900/a03.html))
  %p
    :markdown
      [Rorschach](/rorschach) <br />
      [Flowers](/flowers)  <br/>
      [Rubik's Cube](/rubik) <br />
      [Composer](/composer) <br />
      [Letter Pop](/letterpop)
