
%p#name ChangeLog

#assig
  %h2 PS.BeadColor
  %p
    :markdown
      1. If you call PS.BeadColor on a bead which has no color defined it will now return the default color instead of the string "EMPTY"

%p Place a ".js" at the end of the url for source code.
