
%p#name Rorschach
%body{:onkeydown => "return PS.SysKeyDown(event);", :onkeyup => "return PS.SysKeyUp(event);", :onload => "PS.Sys();"}
  #main
    %input#status.noselect{:name => "status", :readonly => "", :type => "text", :value => "Perlenspiel"}
    %canvas#screen.noselect{:height => "480", :name => "screen", :width => "480"} No HTML5 canvas!
    %p#footer{:name => "version"}
  #debug{:name => "debug", :style => "display: none;"}
    %textarea#monitor{:cols => "57", :name => "monitor", :readonly => "true", :rows => "8", :wrap => "soft"}
#description
  %h2 Rorschach test
  %p
    :markdown
      The Rorschach test or more commonly the inkblot test was designed by Herman Rorschach in 1921.  By the 1960s
      the rorschach test was a regular tool for psychologists to asses a persons personality.  The idea is that
      what people see in these ambigous blobs give some insight into there personality. What do you see?

