%h2 Trapped in the Void
%p
  :markdown
    The Leviathan has arrived.

%h2 Summary
%p
  :markdown
    In the beginning, before the land and sea, before the sun and stars; there was darkness and it was not alone. And
    they have returned and light no longer frightens them.  We are now trapped in the void of darkness and can only run.

%h2 Game play description
%p
  :markdown
    Trapped in the void is an first person point and click adventure game.  Where the player can't fight the monsters that
    lurk around every corner. Armed only with a flash light to guid your way, which only increases the danger.  The flash light
    mechanic can be viewed [here](/stuckinthevoid/4).  The goal of this game is to build tension as the monsters which the play can
    only run from, to achieve this we plan on implementing a heartbeat animation, this can be viewed [here](/stuckinthevoid/1).  By
    building a first person perspective using these tools [here](/stuckinthevoid/3) and [here](/stuckinthevoid/6).  There is the idea that
    some doors will be locked and require the player to complete a mini game which has not been fully decided on but a mechanic of
    picking up and putting down thing as seen [here](/stuckinthevoid/2).

%h2 Game ending
%p
  :markdown
    Unknown at this point

%h2 Project plan
%p
  :markdown
    The goal is to by thanksgiving have all the mechanics of the game running smoothly and allow us to start generating story and refine game play.
    Several prototypes have been built the challenge moving forward is not to get Perlenspiel to do what we want but how the asset pipeline will function.
    Because rooms need to be drawn, and the world in which the game takes place needs to be able to incorporate new rooms and objects.  In many ways the
    story of this game is much more important than anything.


